body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
  margin: 8px auto ;
  width: 40%;
  padding: 10px;
}
h3{
    box-sizing: border-box;
    background-color: rgb(0, 0, 255);
    border-radius: 0.5rem;
    padding: 5px;
    color: white;
    font-size:medium;
    display: inline-block;
}
span{
    color: blue;
}
form {
    background:#fff;
    width:600px;
    height: 55px;
}
#input{
    color: rgb(236, 235, 235);
    border-radius: 1rem;
    width: 15pc;
    height: 20px;
    text-align: center;
    flex: 1;
    outline: none;
}
#btn-city{
    background-color: blue;
    color: white;
    border-radius: 2rem;
    font-size: medium;
    margin: 5px auto;
}
#btn-state{
    background-color: blue;
    color: white;
    border-radius: 2rem;
    font-size: medium;
    margin: 5px auto;
}
#btn-centre {
    background-color: blue;
    color: white;
    border-radius: 2rem;
    font-size: medium;
    margin:5px auto;
}